.create-playlist-form-container {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;

}

.create-playlist-modal-form {
    display: flex;
    flex-direction: column;
}

.close-x {
    position: absolute;
    top: 8px;
    right: 13px;
    color:crimson;
    transition-duration: 0.4s;
}

.close-x:hover {
    cursor: pointer;
}

.close-x:hover {
	color: white;
	cursor: pointer;
}