.current-page-playlist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(76, 211, 245);
    overflow-y: scroll;
    margin-top: 55px;
}


.current-playlist-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 65%;
}

.song-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    text-align: center;
}

.song-item:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: rgb(57, 146, 168);
}

.selected-song-item {
    border: 1px solid rgb(49, 232, 98);
    background-color: rgb(57, 146, 168);
}

.selected-song-item:hover {
    border: 1px solid rgb(49, 232, 98);
    background-color: rgb(57, 146, 168);
}