.playlist-show-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: rgb(76, 211, 245);
	padding-top: 4.5%;
	margin-bottom: 65px;
	padding-bottom: 50px;
	margin-top: 55px;
	overflow-y: auto;
}

.playlist-show-page::-webkit-scrollbar {
	background-color: transparent;
	width: 17px;
}

.playlist-show-page::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.349);
	border-radius: 5px;
}

.playlist-show-page::-webkit-scrollbar-corner {
	background-color: transparent;
}

.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	height: 69%;
	width: 25%;
	margin-right: 2.5%;
	margin-left: 3.5%;
}

.comments-list {
	border: 1px solid rgb(99, 81, 21);
	height: 100%;
	margin: 20px;
	border-radius: 4px;
	overflow-y: scroll;
	width: 93%;
	margin-top: 3px;
	background-color: rgb(50, 216, 78);
}

.comment-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgb(99, 81, 21);
	height: 100px;
	margin: 10px;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: none;
	border-radius: 4px;
	background-color: rgb(244, 206, 18);
}

.comment-username {
	align-self: flex-start;
	font-size: larger;
	font-weight: 500;
	font-family: 'Pangolin';
}

.comment-delete {
	padding: 7px;
	border-radius: 3px;
	border: rgb(0, 0, 0) 1pt solid;
	color: rgb(99, 81, 21);
	background-color: rgb(230, 156, 171);
	font-family: 'Pangolin', cursive;
	border-radius: 8px;
	transition-duration: 0.4s;
	margin-bottom: 3px;
}

.comment-delete:hover {
	background-color: crimson;
	color: white;
	cursor: pointer;
}

.comment-nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.comment-text {
	align-self: flex-start;
	position: relative;
	top: 10%;
}

.add-comment {
	background-color: rgb(47, 141, 165);
	transition-duration: 0.4s;
	position: relative;
	height: 50px;
	width: 85%;
	display: flex;
	justify-content: center;
}

.add-comment:hover {
	cursor: pointer;
	background-color: rgb(224, 187, 2);
}

.comment-item::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
}

.comment-item::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.349);
	border-radius: 5px;
}

.comment-item::-webkit-scrollbar-corner {
	background-color: transparent;
}

.comments-list::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
}

.comments-list::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.349);
	border-radius: 5px;
}

.comments-list::-webkit-scrollbar-corner {
	background-color: transparent;
}

.playlist-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.playlist-header {
	display: flex;
	flex-direction: column;
	height: 100px;
	margin-left: 33%;
}

.playlist-title {
	font-size: 35px;
	margin-bottom: 10px;
}

.playlist-description {
	width: 80%;
}

.playlist-songs {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	width: 100%;
}

.song-item-show {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	margin-bottom: 10px;
	margin-left: 33%;
	border: 1px solid black;
	border-radius: 10px;
	width: 42%;
	text-align: center;
	background-color: rgba(47, 141, 165, 0.167);
	box-shadow: 3px 3px 2px 1px rgba(47, 141, 165, 0.567);
}

.song-album-cover {
	border-radius: 8px;
	margin-left: 40px;
}

.spotify-image {
	margin-left: 0px;
	margin-right: 10px;
	background-color: black;
	padding: 3px;
	height: 40px;
	width: 40px;
	transition-duration: .3s;
	border-radius: 8px;
	cursor: pointer;
}

.spotify-image:hover {
	margin-left: -2px;
	margin-bottom: 5px;
	margin-right: 12px;
	box-shadow: 2px 2px 1px 0px #13a84a;
}

.search-playlist-show {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 25px;
	margin-left: 29%;
	width: 50%;
}

.song-item-show > button,
.rename-playlist,
.delete-playlist {
	height: 30px;
	width: 100%;
	font-size: 20px;
	border: rgb(0, 0, 0) 1pt solid;
	color: rgb(99, 81, 21);
	background-color: rgb(230, 156, 171);
	font-family: 'Pangolin', cursive;
	border-radius: 8px;
	transition-duration: 0.4s;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

.rename-playlist {
	background-color: rgb(50, 216, 78);
	color: rgb(99, 81, 21);
}

.rename-playlist:hover, .delete-playlist:hover {
	color: white;
	cursor: pointer;
}

.song-item-show > button {
	width: 80px;
	margin-right: 15px;
}

.edit-playlist, 
.save-playlist {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 25%;
}

.song-item-info {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.song-item-artist {
	margin-right: 30px;
}

.no-songs {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected-song-item {
    border: 1px solid rgb(49, 232, 98);
    background-color: rgb(57, 146, 168);
}

.selected-song-item:hover {
    border: 1px solid rgb(49, 232, 98);
    background-color: rgb(57, 146, 168);
}

.selected, .not-selected {
	margin-left: 15px;
}