.footer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: rgb(244, 206, 18);
    justify-content: flex-end;
}


.creators-container {
    display: flex;
    align-items: center;
    left: 2%;
    justify-content: space-around;
    font-family: 'Kirang Haerang';
    font-size: xx-large;
    width: 80%;
}

.creators-container > div {
    margin-left: 30px;
}

.creator:hover {
    cursor: pointer;
    
}

.creator > img:hover {
    opacity: .4;
}

.footer-a {
    width: auto;
}

.github-icon {
    width: 35px;
    height: auto;
}

.contact-us-link {
    font-family: 'Kirang Haerang';
    font-size: x-large;
    color: black;
    position: relative;
}

.footer-right-side {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 20%;
    justify-content: space-evenly;
}

.contact-us-link::before {
    transform: scaleX(0);
	transform-origin: bottom right;
}

.contact-us-link:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.contact-us-link::before {
    content: ' ';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0 0 0 0;
	border-radius: 5px;
	background: rgb(76, 211, 245);
	z-index: -1;
	transition: transform 0.3s ease;
}


/* .creator > {

} */