.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  background-color: rgb(224, 187, 2);
  top: 50%;
  left: 50%;
  border:rgb(0, 0, 0) 1px;
  background-image: linear-gradient(to bottom right, rgb(76, 211, 245), rgb(224, 187, 2));
  transform: translate(-50%, -50%);
}

