.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(76, 211, 245);
    overflow-y: scroll;
    margin-top: 55px;
    margin-bottom: 65px;
    padding-bottom: 50px;
}

.profile-page::-webkit-scrollbar {
    background-color: transparent;
	width: 17px;
}

.profile-page::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.349);
	border-radius: 5px;
}

.profile-page::-webkit-scrollbar-corner {
    background-color: transparent;
}

.user-greeting {
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Pangolin', cursive;
}

.playlist-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 65%;
}

.playlist-rename-button {
    height: 50px;
    width: 30%;
    font-size: 20px;
    border: rgb(0, 0, 0) 1pt solid;
    color: rgb(99, 81, 21);
    background-color: rgb(50, 216, 78);
    font-family: 'Pangolin', cursive;
    border-radius: 8px;
    transition-duration: 0.4s;
    text-align: center;
    margin-right: 10px;
}

.playlist-delete-button {
    height: 50px;
    width: 30%;
    font-size: 20px;
    border: rgb(0, 0, 0) 1pt solid;
    color: rgb(99, 81, 21);
    background-color: rgb(230, 156, 171);
    font-family: 'Pangolin', cursive;
    border-radius: 8px;
    transition-duration: 0.4s;
    text-align: center;
    margin-right: 10px;
}

.playlist-list button:hover {
    cursor: pointer;
    color: white;
}

.playlist-list > ul {
    width: 80%;
}

.playlist-list > h2 {
    align-self: flex-start;
    font-size: 21px;
    padding: 15px;
    margin-left: 10%;
    font-family: 'Pangolin', cursive;
}

.playlist-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.playlist-item > a {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    color: rgb(99, 81, 21);
}

.playlist-item h3 {
    transition-duration: 0.4s;
}

.playlist-item > a:hover {
    color: white;
}

.playlist-link {
    text-decoration: none;
    width: 100%;
    height: auto;  
}

.playlist-item:hover {
    cursor: pointer;
}


.playlist-profile-title {
    margin-left: 12px;
    margin-right: 12px;
    width: 130px;
}

.playlist-profile-title:hover {
    cursor: pointer;
    color: white;
}

#make-a-playlist {
    height: 40px;
    width: 40%;
    font-size: 20px;
    border: rgb(0, 0, 0) 1pt solid;
    color: rgb(99, 81, 21);
    background-color: rgb(50, 216, 78);
    font-family: 'Pangolin', cursive;
    border-radius: 8px;
    transition-duration: 0.4s;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

#make-a-playlist:hover {
    cursor: pointer;
    color: white;
}